nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
    transition: var(--transition); 
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 300ms ease; 
}

.nav__logo:hover {
    transform: scale(1.3); /* Zooms the logo to 115% of its original size */
    cursor: pointer; /* Optional: Indicates it's interactive */
}

.nav__menu {
    display: flex;
    gap: 3.5rem;
}

.nav__menu a {
    color: white;
    display: inline-block; 
    transform: scale(1);
    transition: transform 0.3s ease-out;
}

.nav__menu a:hover {    
    transform: scale(1.3);

}

#theme__icon {
    background: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 300ms ease;
}

#theme__icon:hover {
    transform: scale(1.3); /* Zooms the icon to 110% of its original size */
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
    .nav__menu {
        display: none;
    }
}